@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #060a21;
  --secondary: #021d2b;
  --added: #0c4a6e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.border-primary {
  border-color: var(--primary);
}
.border-secondary {
  border-color: var(--secondary);
}

.text-white {
  color: white;
}
.text-added {
  color: var(--added);
}
.max-w-8xl {
  max-width: 100rem;
}